* {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #1b181a;
  font-size: 55px;
  font-family: "Bebas Neue", cursive;
}

.score {
  color: #1b181a;
  margin: 0;
  font-size: 2rem;
}

.start,
.next {
  cursor: pointer;
  background-color: #1b181a;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #cecece;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 40px;
  width: 300px;
  margin: 20px 0;
  padding: 0 40px;
}

.selectArea {
  display: flex;
  flex-direction: column;
  width: 335px;
}
